[submodule "mq-definitions"]
	path = mq-definitions
	branch = master
	url = https://github.com/macroquest/mq-definitions
[submodule "knightlinc"]
	path = knightlinc
	url = https://gitlab.com/Knightly1/knightlinc
[submodule "broadcast"]
	path = broadcast
	url = https://github.com/peonMQ/broadcast.git
