[submodule "mq-definitions"]
	path = mq-definitions
	branch = master
	url = https://github.com/johnfking/mq-definitions
[submodule "knightlinc"]
	path = knightlinc
	url = https://gitlab.com/Knightly1/knightlinc
